<%- include('partials/header') %>

<body class="page-splash">
    <div class="window">
        <div class="title-bar">
            <button class="close-btn" onclick="handleClose()">×</button>
        </div>

        <div class="splash-container" id="splash-container">
            <div class="logo">
                <img src="public://images/logo.png" alt="Logo">
            </div>
            <div id="loading-message" class="loading-message"></div>
        </div>

        <div class="auth-container" id="auth-container">
            <div id="login-form" class="auth-form">
                <h2>Connexion</h2>
                <input type="email" placeholder="Email" id="login-email">
                <input type="password" placeholder="Mot de passe" id="login-password">
                <input type="password" placeholder="Confirmer le mot de passe" id="confirm-password">
                <input type="checkbox" name="remember" id="remember" value="1">
                <button onclick="handleLogin()">Se connecter</button>
                <p class="switch-auth">Inscrivez-vous</p>
                <p id="notification" class="notification" style="display: none;"></p>
            </div>
        </div>
    </div>

    <script>
        const messages = [
            "Chargement des ressources...",
            "Préparation de l'application...",
            "Veuillez patienter un instant...",
            "Configuration de l'environnement...",
            "Lancement de l'application...",
            "Chargement des données..."
        ];

        const randomMessage = messages[Math.floor(Math.random() * messages.length)];
        document.getElementById('loading-message').textContent = randomMessage;

        setTimeout( async () => {
            await window.api.authentificateRemember()
            .then((response) => {
                if(!response.success) {
                    showAuth();
                }
            })
        }, 5000);

        function showAuth() {
            document.getElementById('splash-container').style.display = 'none';
            document.getElementById('auth-container').style.display = 'flex';
        }

        function showLogin() {
            document.getElementById('login-form').style.display = 'flex';
        }

        function handleLogin() {
            const email = document.getElementById('login-email').value;
            const password = document.getElementById('login-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            // const passwordPattern = /^(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;

            if (!emailPattern.test(email)) {
                showNotification("Adresse email invalide.");
                return;
            }

            // if (!passwordPattern.test(password)) {
            //     showNotification("Le mot de passe doit contenir au moins 8 caractères et un caractère spécial.");
            //     return;
            // }

            if (password !== confirmPassword) {
                showNotification("Les mots de passe ne correspondent pas.");
                return;
            }

            const data = {
                email: email,
                password: password
            }

            window.api.authentificate(data);
        }

        function showNotification(message) {
            const notificationElement = document.getElementById('notification');
            notificationElement.textContent = message;
            notificationElement.style.display = 'block';
        }

        function handleClose() {
            window.close();
        }
    </script>
</body>

</html>
