<nav>
    <a href="#" onclick="navigateTo('index')">Commandes</a>
    <a href="#" onclick="navigateTo('pages/event')">Évènements</a>
    <a href="#" onclick="navigateTo('pages/variable')">Variables</a>
    <a href="#" onclick="navigateTo('pages/bot')">Bot</a>
    <a href="#" onclick="navigateTo('pages/about')">About</a>
</nav>