<nav>
    <a href="#" onclick="navigateTo('index')">Commandes</a>
    <a href="#" onclick="navigateTo('page/event')">Évènements</a>
    <a href="#" onclick="navigateTo('page/variable')">Variables</a>
    <a href="#" onclick="navigateTo('page/bot')">Bot</a>
    <a href="#" onclick="navigateTo('page/about')">About</a>
</nav>