<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AzMaker</title>
    <style>
        body {
            margin: 0;
            display: flex;
            font-family: Arial, sans-serif;
            background-color: #1a1a1a;
            color: #f0f0f0;
            user-select: none;
        }

        h3 {
            text-align: center;
        }

        nav {
            background-color: #2a2a2a;
            padding: 10px;
            border-bottom: 1px solid #333;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        nav a {
            color: #f0f0f0;
            margin-right: 15px;
            text-decoration: none;
            padding: 8px;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: #444;
        }

        #command-list {
            width: 25%;
            border-right: 1px solid #333;
            padding: 10px;
            height: calc(100vh - 60px);
            overflow-y: auto;
            background-color: #2a2a2a;
            margin-top: 39px;
        }

        #command-details {
            width: 80%;
            padding: 10px;
            background-color: #2a2a2a;
            border-left: 1px solid #333;
            margin-top: 39px;
        }

        .command-item {
            padding: 10px;
            cursor: pointer;
            border: 1px solid #555;
            margin-bottom: 5px;
            background-color: #333;
            border-radius: 5px;
        }

        .command-item:hover {
            background-color: #444;
        }

        .argument-item {
            padding: 8px;
            background-color: #333;
            border: 1px solid #555;
            border-radius: 5px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .argument-item input {
            width: 70%;
            margin-right: 10px;
        }

        input,
        select,
        button {
            display: block;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #555;
            padding: 8px;
            box-sizing: border-box;
            background-color: #3a3a3a;
            color: #f0f0f0;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            text-align: left;
            background-color: #444;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid #555;
            max-width: 100px;
            word-wrap: break-word;
        }

        th {
            background-color: #333;
            color: #f0f0f0;
        }

        td {
            color: #ccc;
        }

        button {
            background-color: #444;
            cursor: pointer;
        }

        button:hover {
            background-color: #555;
        }

        .command-buttons {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }

        .notification {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: #4caf50;
            color: white;
            border-radius: 5px;
            z-index: 1000;
            transition: opacity 0.5s ease;
            opacity: 1;
        }

        .notification.error {
            background-color: #f44336;
        }

        .permissions-container {
            position: relative;
            width: 100%;
            max-width: 100%;
            margin-top: 10px;
        }

        .custom-select-container {
            width: 100%;
            max-width: 100%;
            background-color: #3a3a3a;
            border: 1px solid #555;
            padding: 5px;
            color: #f0f0f0;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
            box-sizing: border-box;
        }

        .custom-select-container .placeholder {
            color: #666666;
        }

        .selected-permission {
            background-color: #444;
            padding: 4px 8px;
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 0.85em;
            color: white;
            margin-right: 5px;
        }

        .selected-permissions::before {
            content: attr(data-placeholder);
            color: #888;
            display: block;
            font-style: italic;
        }

        .selected-permissions:not(:empty)::before {
            content: '';
        }

        #permissions {
            display: none;
        }

        .dropdown {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            width: 100%;
            background-color: #3a3a3a;
            border: 1px solid #555;
            max-height: 350px;
            overflow-y: auto;
            display: none;
            border-radius: 5px;
            z-index: 1;
        }

        .dropdown div {
            padding: 5px;
            cursor: pointer;
            color: #f0f0f0;
            font-size: 0.85em;
        }

        .dropdown div:hover {
            background-color: #555;
        }

        .category {
            font-weight: bold;
            color: #777 !important;
            padding: 5px 0;
            pointer-events: none;
        }

        .separator {
            margin: 5px 0;
            color: #444 !important;
            font-weight: bold;
            pointer-events: none;
        }

        /* ScrollBar */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #2a2a2a;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #444;
            border-radius: 10px;
            border: 2px solid #2a2a2a;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
    </style>
</head>

<body>
    <nav>
        <a href="#" onclick="navigateTo('index')">Commandes</a>
        <a href="#" onclick="navigateTo('page/event')">Évènements</a>
        <a href="#" onclick="navigateTo('page/variable')">Variables</a>
        <a href="#" onclick="navigateTo('page/bot')">Bot</a>
        <a href="#" onclick="navigateTo('page/about')">About</a>
    </nav>
    <div id="command-list">
        <h3>Commandes Créées</h3>
        <div id="commands-container"></div>
    </div>
    <div id="command-details">
        <h3>Détails de la Commande</h3>
        <input type="text" class="command-name" placeholder="Nom de la commande" />
        <select class="types" id="command-type" onchange="updateCommandInputs()">
            <option value="PREFIX">Commande Prefix</option>
            <option value="SLASH">Commande Slash</option>
        </select>
        <input type="text" class="trigger" id="command-input" placeholder="Déclencheur = '(prefix)ping'" />
        <div class="permissions-container">
            <div class="custom-select-container" onclick="toggleDropdown()">
                <div id="selected-permissions-container" class="selected-permissions" data-placeholder="Sélectionnez des permissions"></div>
            </div>
            <div class="dropdown" id="dropdown">
                <div onclick="selectPermission('Aucune', 'NoPermission')">Aucune</div>
                <div class="category">Permissions de base</div>
                <div onclick="selectPermission('Créer une invitation instantanée', 'CreateInstantInvite')">Créer une
                    invitation instantanée</div>
                <div onclick="selectPermission('Expulser des membres', 'KickMembers')">Expulser des membres</div>
                <div onclick="selectPermission('Bannir des membres', 'BanMembers')">Bannir des membres</div>
                <div onclick="selectPermission('Administrateur', 'Administrator')">Administrateur</div>
                <div onclick="selectPermission('Gérer les canaux', 'ManageChannels')">Gérer les canaux</div>
                <div onclick="selectPermission('Gérer le serveur', 'ManageServer')">Gérer le serveur</div>
                <div onclick="selectPermission('Ajouter des réactions', 'AddReactions')">Ajouter des réactions</div>
                <div onclick="selectPermission('Voir le journal d\'audit', 'ViewAuditLog')">Voir le journal d'audit
                </div>
                <div class="separator">──────────────────────────────</div>
                <div class="category">Permissions de messages</div>
                <div onclick="selectPermission('Envoyer des messages', 'SendMessages')">Envoyer des messages</div>
                <div onclick="selectPermission('Envoyer des messages TTS', 'SendTTSMessages')">Envoyer des messages TTS
                </div>
                <div onclick="selectPermission('Gérer les messages', 'ManageMessages')">Gérer les messages</div>
                <div onclick="selectPermission('Intégrer des liens', 'EmbedLinks')">Intégrer des liens</div>
                <div onclick="selectPermission('Joindre des fichiers', 'AttachFiles')">Joindre des fichiers</div>
                <div onclick="selectPermission('Lire l\'historique des messages', 'ReadMessageHistory')">Lire
                    l'historique des messages</div>
                <div onclick="selectPermission('Mentionner @everyone, @here, et tous les rôles', 'MentionEveryone')">
                    Mentionner @everyone, @here, et tous les rôles</div>
                <div onclick="selectPermission('Utiliser des émojis externes', 'UseExternalEmojis')">Utiliser des émojis
                    externes</div>
                <div class="separator">──────────────────────────────</div>
                <div class="category">Permissions de voix</div>
                <div onclick="selectPermission('Se connecter', 'Connect')">Se connecter</div>
                <div onclick="selectPermission('Parler', 'Speak')">Parler</div>
                <div onclick="selectPermission('Couper des membres', 'MuteMembers')">Couper des membres</div>
                <div onclick="selectPermission('Rendre sourd des membres', 'DeafenMembers')">Rendre sourd des membres
                </div>
                <div onclick="selectPermission('Déplacer des membres', 'MoveMembers')">Déplacer des membres</div>
                <div onclick="selectPermission('Utiliser la détection de voix', 'UseVoiceDetection')">Utiliser la
                    détection de voix</div>
                <div class="separator">──────────────────────────────</div>
                <div class="category">Permissions de gestion des rôles et des utilisateurs</div>
                <div onclick="selectPermission('Gérer les rôles', 'ManageRoles')">Gérer les rôles</div>
                <div onclick="selectPermission('Gérer les webhooks', 'ManageWebhooks')">Gérer les webhooks</div>
                <div onclick="selectPermission('Gérer les émojis', 'ManageEmojis')">Gérer les émojis</div>
                <div class="separator">──────────────────────────────</div>
                <div class="category">Permissions de gestion des intégrations</div>
                <div onclick="selectPermission('Utiliser des commandes d\'application', 'UseApplicationCommands')">
                    Utiliser des commandes d'application</div>
                <div onclick="selectPermission('Demander à parler', 'RequestToSpeak')">Demander à parler</div>
                <div onclick="selectPermission('Gérer les événements', 'ManageEvents')">Gérer les événements</div>
                <div onclick="selectPermission('Gérer les fils de discussion', 'ManageThreads')">Gérer les fils de
                    discussion</div>
                <div class="separator">──────────────────────────────</div>
                <div class="category">Permissions de communauté</div>
                <div onclick="selectPermission('Créer des fils de discussion publics', 'CreatePublicThreads')">Créer des
                    fils de discussion publics</div>
                <div onclick="selectPermission('Créer des fils de discussion privés', 'CreatePrivateThreads')">Créer des
                    fils de discussion privés</div>
            </div>
        </div>
        <h4>Arguments</h4>
        <div id="argument-section">
            <div id="argument-list"></div>
            <button onclick="addArgument()" style="margin-top: 10px;">Ajouter un Argument</button>
        </div>
        <h4>Actions</h4>
        <table id="action-list">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                    <th>Détails</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="command-buttons">
            <button onclick="openActionWindow()" class="addActionButton">Ajouter une Action</button>
            <button onclick="addCommand()" class="addCommandButton">Ajouter la Commande</button>
        </div>
    </div>

    <div id="notification" class="notification" style="display: none;"></div>

    <script src="../public/js/modules/jquery-3.6.0.min.js"></script>
    <script src="../public/js/modules/duplicate.js"></script>
    <script src="../public/js/index.js"></script>
</body>

</html>