<%- include('../partials/header') %>

<body class="page-about">
    <%- include('../partials/navbar') %>
        <div class="content">
            <aside>
                <a href="#" onclick="showSection('Compte')">Compte</a>
                <a href="#" onclick="showSection('Informations')">Informations</a>
                <a href="#" onclick="showSection('Support')">Support</a>
            </aside>

            <div class="main">
                <h1 id="main-name"></h1>
                <div class="box" id="Compte">
                    <p>Bienvenue sur AzMaker, la plateforme dédiée à la création et à la gestion de votre bot.</p>
                    <p>Nom d'utilisateur: <strong id="name"></strong></p>
                    <p>Email: <strong id="email"></strong></p>
                </div>

                <div class="box" id="Informations">
                    <p>AzMaker vous permet de personnaliser et gérer toutes les fonctionnalités de votre bot.</p>
                    <p>Version actuelle : <strong>1.0.0</strong></p>
                    <h3>Modules</h3>
                    <div id="modules-container">
                    </div>
                </div>

                <div class="box" id="Support">
                    <p>Pour toute question ou assistance, n'hésitez pas à consulter les liens suivants :</p>
                    <a href="https://support.example.com" class="button-link" target="_blank">Support Technique</a>
                    <a href="https://forum.example.com" class="button-link" target="_blank">Forum de Discussion</a>
                    <a href="https://docs.example.com" class="button-link" target="_blank">Documentation</a>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>

            <script src="../../public/js/modules/jquery-3.6.0.min.js"></script>
            <script src="../../public/js/modules/duplicate.js"></script>
            <script src="public://js/about.js"></script>
</body>

</html>