<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>AzMaker</title>
</head>

<body class="page-bot">
    <%- include('../partials/navbar') %>
    <div class="bot-container">
        <div class="login-section">
            <label for="token">Token Discord :</label>
            <div style="display: flex; align-items: center;">
                <input type="password" id="token" placeholder="Entrez votre token" />
                <button type="button" onclick="toggleVisibility('token', 'toggle-token-btn')" id="toggle-token-btn"
                    style="width: 100px; height: 35px; margin-left: 10px;">
                    Afficher
                </button>
            </div>

            <label for="client-secret">Client Secret :</label>
            <div style="display: flex; align-items: center;">
                <input type="password" id="client-secret" placeholder="Entrez votre client secret" />
                <button type="button" onclick="toggleVisibility('client-secret', 'toggle-secret-btn')"
                    id="toggle-secret-btn" style="width: 100px; height: 35px; margin-left: 10px;">
                    Afficher
                </button>
            </div>

            <label for="guild-id">Guild Id :</label>
            <div style="display: flex; align-items: center;">
                <input type="password" id="guild-id" placeholder="Entrez votre id serveur" />
                <button type="button" onclick="toggleVisibility('guild-id', 'toggle-guild-btn')" id="toggle-guild-btn"
                    style="width: 100px; height: 35px; margin-left: 10px;">
                    Afficher
                </button>
            </div>
            <button id="start-btn" onclick="startBot()">Démarrer le Bot</button>
            <button id="stop-btn" onclick="stopBot()">Arrêter le Bot</button>
        </div>

        <div class="profile-section">
            <div class="profile-pic-container" style="display: flex; justify-content: center;">
                <div class="profile-pic"></div>
            </div>
            <h3 style="text-align: center; margin-top: 10px;">Profil du Bot</h3>
            <div class="bot-info" id="bot-info">
                <p><strong>Nom:</strong> <span id="bot-name"></span></p>
                <p><strong>ID:</strong> <span id="bot-id"></span></p>
                <p><strong>Statut:</strong> <span id="bot-status"></span></p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

    <script src="../../public/js/modules/jquery-3.6.0.min.js"></script>
    <script src="../../public/js/modules/duplicate.js"></script>
    <script src="../../public/js/bot.js"></script>
</body>

</html>