<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AzMaker</title>
    <style>
        body {
            margin: 0;
            display: flex;
            font-family: Arial, sans-serif;
            background-color: #1a1a1a;
            color: #f0f0f0;
        }

        h3 {
            text-align: center;
        }

        nav {
            background-color: #2a2a2a;
            padding: 10px;
            border-bottom: 1px solid #333;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        nav a {
            color: #f0f0f0;
            margin-right: 15px;
            text-decoration: none;
            padding: 8px;
            border-radius: 5px;
        }

        nav a:hover {
            background-color: #444;
        }

        #event-list {
            width: 25%;
            border-right: 1px solid #333;
            padding: 10px;
            height: calc(100vh - 60px);
            overflow-y: auto;
            background-color: #2a2a2a;
            margin-top: 39px;
        }

        #event-details,
        #event-edit {
            width: 80%;
            padding: 10px;
            background-color: #2a2a2a;
            border-left: 1px solid #333;
            margin-top: 39px;
        }

        .event-item {
            padding: 10px;
            cursor: pointer;
            border: 1px solid #555;
            margin-bottom: 5px;
            background-color: #333;
            border-radius: 5px;
        }

        .event-item:hover {
            background-color: #444;
        }

        input,
        select,
        button {
            display: block;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid #555;
            padding: 8px;
            box-sizing: border-box;
            background-color: #3a3a3a;
            color: #f0f0f0;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
            text-align: left;
            background-color: #444;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid #555;
            max-width: 100px;
            word-wrap: break-word;
        }

        th {
            background-color: #333;
            color: #f0f0f0;
        }

        td {
            color: #ccc;
        }

        button {
            background-color: #444;
            cursor: pointer;
        }

        button:hover {
            background-color: #555;
        }

        .event-buttons {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }

        .action-buttons {
            display: flex;
            gap: 10px;
        }

        #action-modal {
            display: none;
            background-color: #1a1a1a;
            color: #f0f0f0;
            padding: 20px;
            border: 1px solid #333;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            z-index: 1000;
        }

        #add-action-btn,
        #edit-action-btn {
            margin-top: 20px;
        }

        .notification {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: #4caf50;
            color: white;
            border-radius: 5px;
            z-index: 1000;
            transition: opacity 0.5s ease;
            opacity: 1;
        }

        .notification.error {
            background-color: #f44336;
        }

        /* ScrollBar */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #2a2a2a;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #444;
            border-radius: 10px;
            border: 2px solid #2a2a2a;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
    </style>
</head>

<body>
    <nav>
        <a href="#" onclick="navigateTo('index')">Commandes</a>
        <a href="#" onclick="navigateTo('page/event')">Évènements</a>
        <a href="#" onclick="navigateTo('page/variable')">Variables</a>
        <a href="#" onclick="navigateTo('page/bot')">Bot</a>
        <a href="#" onclick="navigateTo('page/about')">About</a>
    </nav>
    <div id="event-list">
        <h3>Évènements Créées</h3>
        <div id="events-container"></div>
    </div>
    <div id="event-details">
        <h3>Détails de l'évènement</h3>
        <input type="text" class="event-name" placeholder="Nom de l'évènement" />
        <select class="type">
            <option value="" disabled selected>Événements de serveur</option>
            <option value="guildCreate">Déclenché lorsqu'un bot rejoint un serveur</option>
            <option value="guildDelete">Déclenché lorsqu'un bot quitte un serveur</option>
            <option value="guildUpdate">Déclenché lorsqu'un serveur est mis à jour</option>
            <option value="" disabled>───────────────</option>
            <option value="" disabled selected>Événements de membre</option>
            <option value="guildMemberAdd">Déclenché lorsqu'un membre rejoint le serveur</option>
            <option value="guildMemberRemove">Déclenché lorsqu'un membre quitte le serveur</option>
            <option value="guildMemberUpdate">Déclenché lorsqu'un membre est mis à jour (rôle, pseudonyme, etc.)
            </option>
            <option value="" disabled>───────────────</option>
            <option value="" disabled selected>Événements de canal</option>
            <option value="channelCreate">Déclenché lorsqu'un canal est créé</option>
            <option value="channelUpdate">Déclenché lorsqu'un canal est mis à jour</option>
            <option value="channelDelete">Déclenché lorsqu'un canal est supprimé</option>
            <option value="channelPinsUpdate">Déclenché lorsqu'un message épinglé est mis à jour</option>
            <option value="" disabled>───────────────</option>
            <option value="" disabled selected>Événements de message</option>
            <option value="messageCreate">Déclenché lorsqu'un message est envoyé</option>
            <option value="messageUpdate">Déclenché lorsqu'un message est modifié</option>
            <option value="messageDelete">Déclenché lorsqu'un message est supprimé</option>
            <option value="" disabled>───────────────</option>
            <option value="" disabled selected>Événements de Rôle</option>
            <option value="roleCreate">Émis lorsqu'un rôle est créé</option>
            <option value="roleUpdate">Émis lorsqu'un rôle est mis à jour</option>
            <option value="roleDelete">Émis lorsqu'un rôle est supprimé</option>
            <option value="" disabled>───────────────</option>
            <option value="" disabled selected>Événements vocaux</option>
            <option value="voiceStateUpdate">Déclenché lorsqu'un utilisateur rejoint ou quitte un salon vocal ou change
                de statut (muet, sourd, etc.)</option>
            <option value="voiceServerUpdate">Émis lorsque le serveur vocal change (par exemple, lors d'une déconnexion
                ou d'un changement de région)</option>
        </select>

        <h4>Actions</h4>
        <table id="action-list">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>
                    <th>Détails</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="event-buttons">
            <button onclick="openActionWindow()" class="addActionButton">Ajouter une Action</button>
            <button onclick="addEvent()" class="addEventButton">Ajouter l'évènement</button>
        </div>
    </div>

    <div id="notification" class="notification" style="display: none;"></div>

    <script src="../../public/js/modules/jquery-3.6.0.min.js"></script>
    <script src="../../public/js/modules/duplicate.js"></script>
    <script src="../../public/js/event.js"></script>
</body>

</html>